@use "colors" as *;

$radius-2xl: 16px;
$radius-3xl: 24px;
$radius-4xl: 32px;
$radius-lg: 8px;
$radius-md: 6px;
$radius-sm: 4px;
$radius-xl: 12px;
$radius-xs: 2px;

$radius-map: (
  "xs": $radius-xs,
  "sm": $radius-sm,
  "md": $radius-md,
  "lg": $radius-lg,
  "xl": $radius-xl,
  "2xl": $radius-2xl,
  "3xl": $radius-3xl,
  "4xl": $radius-4xl,
);

@each $name, $value in $radius-map {
  .rounded-#{$name} {
    border-radius: $value;
  }
}

.rounded-none {
  border-radius: 0;
}

.rounded-full {
  border-radius: calc(infinity * 1px);
}

.border {
  border: 1px solid $color-neutral-900;
}

$border-styles: (solid, dotted, hidden, none);
@each $style in $border-styles {
  .border-#{$style} {
    border-style: $style;
  }
}

$border-widths: (1, 2);
@each $width in $border-widths {
  .border-b-#{$width} {
    border-bottom-width: #{$width}px;
  }

  .border-#{$width} {
    border-width: #{$width}px;
  }
}

.border-b-neutral-900 {
  border-bottom-color: $color-neutral-900;
}

.border-transparent {
  border-color: transparent;
}

.border-x-transparent {
  border-inline-color: transparent;
}

.border-t-transparent {
  border-top-color: transparent;
}

.border-neutral-200 {
  border-color: $color-neutral-200;
}

.border-neutral-500 {
  border-color: $color-neutral-500;
}

.border-neutral-800 {
  border-color: $color-neutral-800;
}

.border-solid {
  border-style: solid;
}

.active\:rounded-lg:active,
.focus\:rounded-lg:focus,
.hover\:rounded-lg:hover {
  @extend .rounded-lg;
}

.active\:border-none:active,
.focus\:border-none:focus,
.hover\:border-none:hover {
  @extend .border-none;
}
