$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-weights: (
  "thin": $font-weight-thin,
  "extralight": $font-weight-extralight,
  "light": $font-weight-light,
  "normal": $font-weight-normal,
  "medium": $font-weight-medium,
  "semibold": $font-weight-semibold,
  "bold": $font-weight-bold,
  "extrabold": $font-weight-extrabold,
  "black": $font-weight-black,
);

@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}
