@use "spacing" as *;

.h-full {
  height: 100%;
}

.h-4 {
  height: $spacing-4;
}

.h-6 {
  height: $spacing-6;
}

.h-8 {
  height: $spacing-8;
}

.min-h-16 {
  min-height: $spacing-16;
}

.h-4\.5 {
  height: calc($spacing * 4.5);
}
