//Tailwind, https://tailwindcss.com/docs/

@forward "colors";
@forward "border";
@forward "flex";
@forward "grid";
@forward "height";
@forward "position";
@forward "shadow";
@forward "spacing";
@forward "typography";
@forward "width";
@forward "transition";
@forward "white-space";
