//Tailwind, https://tailwindcss.com/docs/

@forward "background";
@forward "border";
@forward "colors";
@forward "content";
@forward "cursor";
@forward "flex";
@forward "font-weight";
@forward "gap";
@forward "grid";
@forward "height";
@forward "margin";
@forward "opacity";
@forward "outline";
@forward "overflow";
@forward "padding";
@forward "position";
@forward "resize";
@forward "shadow";
@forward "size";
@forward "spacing";
@forward "transition";
@forward "typography";
@forward "white-space";
@forward "width";
@forward "z-index";
