@use "./colors" as *;
@use "./spacing" as *;

.outline-solid {
  outline-style: solid;
}

.active\:outline-neutral-800:active,
.focus\:outline-neutral-800:focus,
.hover\:outline-neutral-800:hover {
  outline-color: $color-neutral-800;
}

.active\:outline-2:active,
.focus\:outline-2:focus,
.hover\:outline-2:hover {
  outline-width: calc($spacing * 0.5);
}

.active\:outline-solid:active,
.focus\:outline-solid:focus,
.hover\:outline-solid:hover {
  outline-style: solid;
}
