$spacing: 4px;
$spacing-2: calc(#{$spacing} * 2); // 8px
$spacing-3: calc(#{$spacing} * 3); // 12px
$spacing-4: calc(#{$spacing} * 4); // 16px
$spacing-5: calc(#{$spacing} * 5); // 20px
$spacing-6: calc(#{$spacing} * 6); // 24px
$spacing-8: calc(#{$spacing} * 8); // 32px
$spacing-10: calc(#{$spacing} * 10); // 40px
$spacing-12: calc(#{$spacing} * 12); // 48px
$spacing-13: calc(#{$spacing} * 13); // 52px
$spacing-14: calc(#{$spacing} * 14); // 56px
$spacing-16: calc(#{$spacing} * 16); // 64px
$spacing-18: calc(#{$spacing} * 18); // 72px
$spacing-20: calc(#{$spacing} * 20); // 80px
$spacing-24: calc(#{$spacing} * 24); // 96px
$spacing-32: calc(#{$spacing} * 32); // 128px
$spacing-38: calc(#{$spacing} * 38); // 152px
$spacing-48: calc(#{$spacing} * 48); // 192px
$spacing-64: calc(#{$spacing} * 64); // 256px
$spacing-80: calc(#{$spacing} * 80); // 320px
$spacing-100: calc(#{$spacing} * 100); // 400px
$spacing-130: calc(#{$spacing} * 130); // 520px

// Base spacing unit
$spacing-unit: 4px;

// Spacing helper
@function space($n) {
  @return if($n == 0, 0, calc(#{$spacing-unit} * #{$n}));
}

// Base spacing unit
$spacing-unit: 4px;

// Allowed spacing steps
$spacing-steps: (0, 1, 2, 3, 4, 5, 6);

@mixin generate-space($steps) {
  @each $step in $steps {
    .gap-#{$step} {
      gap: space($step);
    }

    .p-#{$step} {
      padding: space($step);
    }

    .m-#{$step} {
      margin: space($step);
    }

    .pt-#{$step} {
      padding-top: space($step);
    }

    .pr-#{$step} {
      padding-right: space($step);
    }

    .pb-#{$step} {
      padding-bottom: space($step);
    }

    .pl-#{$step} {
      padding-left: space($step);
    }

    .px-#{$step} {
      padding-left: space($step);
      padding-right: space($step);
    }

    .py-#{$step} {
      padding-top: space($step);
      padding-bottom: space($step);
    }

    .mt-#{$step} {
      margin-top: space($step);
    }

    .mr-#{$step} {
      margin-right: space($step);
    }

    .mb-#{$step} {
      margin-bottom: space($step);
    }

    .ml-#{$step} {
      margin-left: space($step);
    }
  }
}

@include generate-space($spacing-steps);

.px-0\.5 {
  padding-top: calc($spacing * 0.5);
  padding-bottom: calc($spacing * 0.5);
}

.px-1\.5 {
  padding-left: calc($spacing * 1.5);
  padding-right: calc($spacing * 1.5);
}

.py-0\.5 {
  padding-top: calc($spacing * 0.5);
  padding-bottom: calc($spacing * 0.5);
}

.py-1\.5 {
  padding-left: calc($spacing * 1.5);
  padding-right: calc($spacing * 1.5);
}
