$spacing: 4px;
$spacing-2: calc(#{$spacing} * 2); // 8px
$spacing-3: calc(#{$spacing} * 3); // 12px
$spacing-4: calc(#{$spacing} * 4); // 16px
$spacing-5: calc(#{$spacing} * 5); // 20px
$spacing-6: calc(#{$spacing} * 6); // 24px
$spacing-8: calc(#{$spacing} * 8); // 32px
$spacing-10: calc(#{$spacing} * 10); // 40px
$spacing-12: calc(#{$spacing} * 12); // 48px
$spacing-13: calc(#{$spacing} * 13); // 52px
$spacing-14: calc(#{$spacing} * 14); // 56px
$spacing-16: calc(#{$spacing} * 16); // 64px
$spacing-18: calc(#{$spacing} * 18); // 72px
$spacing-20: calc(#{$spacing} * 20); // 80px
$spacing-24: calc(#{$spacing} * 24); // 96px
$spacing-32: calc(#{$spacing} * 32); // 128px
$spacing-38: calc(#{$spacing} * 38); // 152px
$spacing-48: calc(#{$spacing} * 48); // 192px
$spacing-64: calc(#{$spacing} * 64); // 256px
$spacing-80: calc(#{$spacing} * 80); // 320px
$spacing-100: calc(#{$spacing} * 100); // 400px
$spacing-130: calc(#{$spacing} * 130); // 520px

// Spacing helper (portable + safe)
@function space($n) {
  @if $n == 0 {
    @return 0;
  }

  @return $spacing * $n;
}
