$default-transition-duration: 150ms;
$default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@mixin transition($property) {
  transition-property: $property;
  transition-duration: $default-transition-duration;
  transition-timing-function: $default-transition-timing-function;
}

.transition-colors {
  @include transition(opacity);
}

.transition-all {
  @include transition(all);
}

.duration-100 {
  -webkit-transition: 100ms;
  transition-duration: 100ms;
}

.duration-150 {
  -webkit-transition: 150ms;
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: $default-transition-timing-function;
}
