.transition-colors {
  transition-property: opacity;
  transition-timing-function: var(
    --default-transition-timing-function
  ); /* cubic-bezier(0.4, 0, 0.2, 1) */
  transition-duration: var(--default-transition-duration); /* 150ms */
}
