@use "./spacing" as *;
@use "sass:map";

$text-xs: 12px;
$text-xs--line-height: calc(1 / 0.75);
$text-sm: 14px;
$text-sm--line-height: calc(1.25 / 0.875);
$text-base: 16px;
$text-base--line-height: calc(1.5 / 1);
$text-lg: 18px;
$text-lg--line-height: calc(1.75 / 1.125);
$text-xl: 20px;
$text-xl--line-height: calc(1.75 / 1.25);
$text-2xl: 24px;
$text-2xl--line-height: calc(2 / 1.5);
$text-3xl: 30px;
$text-3xl--line-height: calc(2.25 / 1.875);
$text-4xl: 36px;
$text-4xl--line-height: calc(2.5 / 2.25);
$text-5xl: 48px;
$text-5xl--line-height: 1;
$text-6xl: 60px;
$text-6xl--line-height: 1;
$text-7xl: 72px;
$text-7xl--line-height: 1;
$text-8xl: 96px;
$text-8xl--line-height: 1;
$text-9xl: 128px;
$text-9xl--line-height: 1;

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

$text-alignments: (
  "center": center,
  "right": right,
  "left": left,
);

@each $name, $alignment in $text-alignments {
  .text-#{$name} {
    text-align: $alignment;
  }
}

$type-scale: (
  sm: (
    size: $text-sm,
    leading: $text-sm--line-height,
  ),
  base: (
    size: $text-base,
    leading: $text-base--line-height,
  ),
  lg: (
    size: $text-lg,
    leading: $text-lg--line-height,
  ),
  xl: (
    size: $text-xl,
    leading: $text-xl--line-height,
  ),
  2xl: (
    size: $text-2xl,
    leading: $text-2xl--line-height,
  ),
  3xl: (
    size: $text-3xl,
    leading: $text-3xl--line-height,
  ),
  4xl: (
    size: $text-4xl,
    leading: $text-4xl--line-height,
  ),
);

@each $name, $vals in $type-scale {
  .text-#{$name} {
    font-size: map.get($vals, size);
    line-height: map.get($vals, leading);
  }
}

.text-balance {
  text-wrap: balance;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.scroll-m-20 {
  scroll-margin: calc($spacing * 20);
}
