$text-xs: 12px;
$text-xs--line-height: calc(1 / 0.75);
$text-sm: 14px;
$text-sm--line-height: calc(1.25 / 0.875);
$text-base: 16px;
$text-base--line-height: calc(1.5 / 1);
$text-lg: 18px;
$text-lg--line-height: calc(1.75 / 1.125);
$text-xl: 20px;
$text-xl--line-height: calc(1.75 / 1.25);
$text-2xl: 24px;
$text-2xl--line-height: calc(2 / 1.5);
$text-3xl: 30px;
$text-3xl--line-height: calc(2.25 / 1.875);
$text-4xl: 36px;
$text-4xl--line-height: calc(2.5 / 2.25);
$text-5xl: 48px;
$text-5xl--line-height: 1;
$text-6xl: 60px;
$text-6xl--line-height: 1;
$text-7xl: 72px;
$text-7xl--line-height: 1;
$text-8xl: 96px;
$text-8xl--line-height: 1;
$text-9xl: 128px;
$text-9xl--line-height: 1;
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-weights: (
  "thin": $font-weight-thin,
  "extralight": $font-weight-extralight,
  "light": $font-weight-light,
  "normal": $font-weight-normal,
  "medium": $font-weight-medium,
  "semibold": $font-weight-semibold,
  "bold": $font-weight-bold,
  "extrabold": $font-weight-extrabold,
);

@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}

.font-black {
  font-weight: $font-weight-black;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: $text-sm;
  line-height: $text-sm--line-height;
}
