@use "spacing" as *;

$container-3xs: 256px;
$container-2xs: 288px;
$container-xs: 320px;
$container-sm: 384px;
$container-md: 448px;
$container-lg: 512px;
$container-xl: 576px;
$container-2xl: 672px;
$container-3xl: 768px;
$container-4xl: 896px;
$container-5xl: 1024px;
$container-6xl: 1152px;
$container-7xl: 1280px;

.max-w-xs {
  max-width: $container-xs;
}

$min-widths: (
  "full": 100%,
  "auto": auto,
  "3xs": $container-3xs,
  "2xs": $container-2xs,
  "xs": $container-xs,
  "sm": $container-sm,
  "md": $container-md,
  "lg": $container-lg,
  "xl": $container-xl,
  "2xl": $container-2xl,
  "3xl": $container-3xl,
  "4xl": $container-4xl,
  "5xl": $container-5xl,
  "6xl": $container-6xl,
  "7xl": $container-7xl,
);

@each $name, $value in $min-widths {
  .min-w-#{$name} {
    min-width: $value;
  }
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-6 {
  width: $spacing-6;
}

.w-8 {
  width: $spacing-8;
}

.w-18 {
  width: $spacing-18;
}
