
// VARIABLES
//  ============================= *
   $pictos      : "pictos";

   // COLORS
    $accent1  : hsl(305, 98%, 24%);
    $accent2  : hsla(253, 35%, 61%, 0.25);
    $accent3  : #b9dadf;
    $black    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $white    : hsl(0, 0%, 96%);

// MIXINS
//  =============================
   
    @mixin back-col($color){
        background-color: $color;
    }

    @mixin grid-area($cstart, $cend, $rstart, $rend) {
        grid-area: #{$rstart} / #{$cstart} / #{$rend} / #{$cend};
    }

    @mixin text-trans($transform){
        text-transform: $transform;
    }

    @mixin text-align($align){
        text-align: $align;
    }

    @mixin border($border) {
        border-bottom: 0.15em solid $black;
    }

    @mixin button-like() {
        font-size     : 1.1em;
        font-weight   : bold;
        text-transform: capitalize;
    }

/* GLOBAL SETTINGS
    =============================  */
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    button {
        &:before {
            display: none;
        }
        &:focus,
        &:hover,
        &:active {
            background: none;
            background-color: $accent1 !important;
        }

        &:focus > h2,
        &:hover > h2,
        &:active > h2 {
            color: $white;
            text-shadow: 1px 1px 2px $black, 0 0 25px $accent2, 0 0 5px $accent1
        }
        &[type="roll"],
        &[type="action"] {
            @include back-col(hsl(0, 0%, 96%));
            border: {
                bottom             : 0.01em solid #666;
                bottom-right-radius: 0.01em;
                color              : hsl(0, 0%, 70%);
                radius             : 0.25em;
                right              : 0.02em solid hsl(0, 0%, 20%);
                style              : outset;
            }
            margin: 0.2em !important;
            padding: 0.1em !important;
        }
    }

    div {
        @include back-col(transparent);
        width: 100%;
    }

    fieldset {
        @include back-col(transparent);
    }

    h1 {
        color: $accent1;
        @include text-trans(uppercase);
    }

    h2 {
        font-size: 1em;
        line-height: 1.4em;
        &.sheet-alt-color {
            color: $accent1;
        }
        &.sheet-label {
            @include border(border-bottom);
            @include button-like();
            text-align: center;
            margin-left: 3%;
        }
    }

    h3 {
        font-size: 1.25em;
        line-height: 36px;
    }

    input {
        &[type="text"],
        &[type="number"] {
            @include back-col(transparent);
            @include border(border-bottom);
            @include text-align(center);
            border: {
                left  : 0em;
                radius: 0em;
                right : 0em;
                top   : 0em;
            };
            height       : 2.1em;
        }
        &::placeholder {
            @include back-col($accent2);
            border: 0.1em dotted $accent1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }

    label {
        margin-bottom: 0px;
        padding-right: 0px;
    }

    span {
        word-break: break-word;
    }

    textarea {
        @include text-align(left);
        border-bottom : 0.2em dotted $accent3;
        font-size     : 12px;
        font-weight   : normal;
        height        : 50px;
        line-height   : 18px;
        overflow      : hidden;
        overflow-wrap : break-word;
        padding       : 2px;
        resize        : vertical;
        vertical-align: top;
        white-space   : pre-line;
    }

    .charsheet {
        min-width: 30em;
    }

/* FLEXBOX
   ============================= */
    div.sheet-flex {
        align-items    : flex-start;
        display        : inline-flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: flex-start;
        max-width      : 100%;
        min-width      : 410px;
        vertical-align : top;
        width          : 45%;
    }

    div.sheet-flex:first-child {
        margin-right: 0.5%;
    }

    div.sheet-npc-flex,
    div.sheet-pc-flex {
        display: inline-flex;
    }   


/* HIDE DIFFERENT SHEET TYPES BY DEFAULT
   ============================= */ 
    div.sheet-npc,
    div.sheet-pc {
        display: none;
    }   

    input.sheet-type[value="npc"] ~  div.sheet-npc,
    input.sheet-type[value="character"] ~  div.sheet-pc {
        display: block;
    }   

/* GRID
   ============================= */ 
    div.sheet-grid {
        display        : inline-grid;
        grid-column-gap: 0.2em;
        grid-row-gap   : 0.2em;
    }

    div.sheet-grid-tab-inputs {
        @for $i from 1 through 3 {
            label:nth-of-type(#{$i})  {
                @include grid-area(2, 2, $i, $i);
            }
            span:nth-of-type(#{$i})  {
                @include grid-area(1, 1, $i, $i);
            }
        }
    }

/* HIGHLIGHT BUTTONS
   ============================= */
    input.sheet-whisper-toggle[value*="gm"] + button[name*="whisper"],
    input.sheet-type[value="character"] ~ div.sheet-tabs button[name*="character"],
    input.sheet-type[value="npc"] ~ div.sheet-tabs button[name*="npc"],
    input.sheet-type[value="notes"] ~ div.sheet-tabs button[name*="notes"],
    input.sheet-type[value="options"] ~ div.sheet-tabs button[name*="options"] {
        @include back-col($accent1);
        box-shadow: inset 0px 0px 3px 1px $accent2;
        color     : $white;
    }

/* TABS & LOGO SECTION
   ============================= */
    div.sheet-tabs {
        margin-bottom: 2%;

        label > input {
            width: 100%;
        }
    }

    /* INPUTS FOR CHARACTER, PLAYER, NOTES..... */
    div.sheet-grid-tab-inputs {
        grid-template-columns: 8em 73%;

        span {
            font-weight   : bold;
            @include text-trans(uppercase);
        }
    }

    div.sheet-grid-tab-buttons {
        grid-template-columns: 2.5em 5em 5em 5em;
        margin-top           : 2%;

        button {
            &[name="act_whisper"] {
                font-family: $pictos;
            }
            &:nth-of-type(1n+2) {
                @include button-like();
                font-variant: small-caps;
            }
        }
    }

/* GENERIC CLASSES
    ============================= */
    .sheet-pictos {
        font-family: $pictos;
    }

/* NPC SHEET
    ============================= */
    
/* PC SHEET
   ============================= */
   div.sheet-grid-header {
        grid-template-columns: 2em 1fr;

       button {
           @include grid-area(1, 1, 1, 1);
       }

       h1 {
           @include grid-area(2, 3, 1, 1);
       }
   }

    div.sheet-pc-flex {
        border       : 0.15em solid $accent1;
        border-radius: 0.8em;
    }


   /* ATTRIBUTES
   ----------------------------- */
   div.sheet-grid-pc-attributes {
        grid-template-columns: 10em 1fr;
        width: 48%;

        button {
            &[type="roll"] {
                border-bottom : {
                    left-radius : 0em;
                    right-radius: 0em;
                }
                @include border(border-bottom);
                @include button-like();
            }
        }

        input[type="text"] {
            width: 3.5em;
        }
   }


/* FOOTER
   ============================= */