input(name='attr_version' type='hidden' value='1')

//- VARIABLES
  =============================
- const abilities = ['strength', 'dexterity', 'intelligence', 'wisdom', 'charisma'];
- const skillList = ['acrobatics','athletics','awareness', 'charm', 'command', 'commerce','intimidate', 'logic'];

//- INCLUDES
  =============================
include src/pug/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')
      
//-NPC SHEET
  =============================
.npc
  .box.npc-flex
    p NPC STUFF
  .box.npc-flex
    p MORE NPC STUFF 

//-PC SHEET
  =============================
.pc
  .container.grid.info
    .row.grid.4autocolumn
      each val in ['character name', 'player name']
        h1(data-i18n=val)
        +textInput(val)

  .container.grid.characteristics
    .row.text-center
      h1(data-i18n='characteristics')
    .row.grid.5column
      each val in abilities
        .col.grid
          .row.text-center
            h2.small-caps(data-i18n=val)
    .row.grid.5column
      each val in abilities
        .col
          +numberInput(val)

  .container.skill-traits
    .col.inline-block
      .row
        h1.text-center(data-i18n='skills')
      each val in skillList
        .row.grid.3columnbutton
          h2(data-i18n=val)
          +numberInput(val)
          button.d20(name='' type='roll' value!='') b
    .col.inline-block
      .row
        h1.text-center(data-i18n='traits')
      .row
        fieldset(class=`repeating_traits`)
          .row
            +textInput(`name`)
            +textarea('description')

//- NOTES SHEET
  =============================
.notes

//-OPTIONS SHEET
  =============================
.options

//-FOOTER
  =============================
footer
  span Version 
  span(name='attr_version')

//-HIDDEN ATTRIBUTES
  =============================
input(name='attr_version', type='hidden', value='1')

//-ROLL TEMPLATE
  =============================
.rolltemplates
  rolltemplate.sheet-rolltemplate-rolls
    // - Display a header on the template -
    .sheet-template-header
      | {{#header}}{{header}}{{/header}}
    // - Display the dice roll in the template -
    .sheet-template-body
      | {{#dice}}
      .sheet-template-row {{dice}}
      | {/dice}}
      // - Display a description. This is great for text included with a roll -
      | {{#desc}}
      .sheet-template-row
        span.sheet-template-desc
      | {{/desc}}

//- SCRIPTS
script(type="text/worker")
  include src/js/scripts.js
