input(name='attr_version' type='hidden' value='1')

//- INCLUDES
  =============================
include src/pug/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type', type='hidden', value='character')
input.display_string(name='attr_character_settings', type='hidden', value='')

//- TABS & LOGO
  =============================
.tabs
  .flex
    // PUT LOGO HERE. UPDATE ALT TEXT
    img(alt='Emerald Productions logo', src='https://raw.githubusercontent.com/clevett/SheetTemplate/master/images/EProd_Title_Gloss.png')
  .flex.info-flex
    .grid.grid-tab-inputs
      // INFO INPUTS
      h1(data-i18n='character') character
      +textInput('character_name')
      h1(data-i18n='player') player
      +textInput('player_name'
      h1(data-i18n='notes') notes
      +textInput('character_notes')
    .grid.grid-tab-buttons
      // Buttons to toggle on GM whisper
      input.whisper-toggle(name='attr_gm_toggle', type='hidden', value=' ')
      button(name='act_whisper', data-i18n-title='gm-whisper', title='gm whisper', type='action') q
      // CHARACTER SHEETS
      button(data-i18n='pc', data-i18n-title='', name='act_toggle_character', title='player character button', type='action') pc
      button(data-i18n='notes', data-i18n-title='', name='act_toggle_notes', title='notes button', type='action') notes
      button(data-i18n='npc', data-i18n-title='', name='act_toggle_npc', title='non player character', type='action') npc

//-NPC SHEET
  =============================
.npc
  .box.npc-flex
    p NPC STUFF
  .box.npc-flex
    p MORE NPC STUFF 

//-PC SHEET
  =============================
.pc
  .flex.pc-flex
    .grid.grid-header
      button.pictos(data-i18n-title='', name='act_toggle_attributes', title='player character attributes', type='action') y
      h1(data-i18n='attributes', data-i18-title='attributes', title='attributes') attributes
    .grid.grid-pc-attributes
      // STRENGHT
      button(name='roll_strength', type='roll', value='@{gm_toggle} &{template:rolls}{{header=^{strength}}}{{base=^{attributes}}}{{dice=[[(@{strength}+(@{attribute_roll})+@{wound_toggle}+@{modifier_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}{{mod=[[@{modifier_toggle}]]}}{{wound=[[@{wound_toggle}]]}}{{edge=[[@{edge_toggle}]]}}')
        h2(data-i18n='strength') strength
      label(data-i18n-title='strenght-input', title='strength input')
        input(data-i18n-placeholder='', name='attr_strength', placeholder='10', title='@{strength}', type='number', value='')
  .flex.pc-flex
    h1(data-i18n='h1', data-i18-title='h1', title='header 1') Header 1
    h2(data-i18n='h2', data-i18-title='h2', title='header 2') Header 2
    h3(data-i18n='h3', data-i18-title='h3', title='header 3') Header 3
//- NOTES SHEET
  =============================
.notes

//-OPTIONS SHEET
  =============================
.options

//-FOOTER
  =============================
footer
  span Version 
  span(name='attr_version')

//-HIDDEN ATTRIBUTES
  =============================
input(name='attr_version', type='hidden', value='1')

//-ROLL TEMPLATE
  =============================
.rolltemplates
  rolltemplate.sheet-rolltemplate-rolls
    // - Display a header on the template -
    .sheet-template-header
      | {{#header}}{{header}}{{/header}}
    // - Display the dice roll in the template -
    .sheet-template-body
      | {{#dice}}
      .sheet-template-row {{dice}}
      | {/dice}}
      // - Display a description. This is great for text included with a roll -
      | {{#desc}}
      .sheet-template-row
        span.sheet-template-desc
      | {{/desc}}

//- SCRIPTS
include src/pug/scripts.js
