input(name='attr_version' type='hidden' value='1')

//- VARIABLES
  =============================
- const abilities = ['strength', 'dexterity', 'intelligence', 'wisdom', 'charisma'];
- const skillList = ['acrobatics','athletics','awareness', 'charm', 'command', 'commerce','intimidate', 'logic'];

//- INCLUDES
  =============================
include src/pug/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')
      
//-NPC SHEET
  =============================
.npc
  .box.npc-flex
    p NPC STUFF
  .box.npc-flex
    p MORE NPC STUFF 

//-PC SHEET
  =============================
.pc
  .container.grid.navigation
    img(alt='Emerald Grid' src='https://raw.githubusercontent.com/clevett/SheetTemplate/master/src/imgs/EProd_Title_Gloss.png')
    each val in ['core', 'arms', 'advancement']
      label.toggles(data-i18n-title=`sheet type: ${val}`)
        if val === 'core'
          input(name=`attr_sheet_type` title=`@{sheet_type}` type='radio' value=val selected)
        else
          input(name=`attr_sheet_type` title=`@{sheet_type}` type='radio' value=val)
        span.eclipse #{val}

  .container.grid.info
    .rowx.grid.4autocolumn
      each val in ['character name', 'player name']
        h1(data-i18n=val)
        +textInput(val)

  .container.grid.characteristics
    .rowx.text-center
      h1(data-i18n='characteristics')
    .rowx.grid.5column
      each val in abilities
        .col.grid
          .rowx.text-center
            h2.small-caps(data-i18n=val)
    .rowx.grid.5column
      each val in abilities
        .col
          +numberInput(val)

  .container.skill-traits
    .col.inline-block
      .rowx
        h1.text-center(data-i18n='skills')
      each val in skillList
        .rowx.grid.3columnbutton
          h2(data-i18n=val)
          +numberInput(val)
          button.d20(name='' type='roll' value!='') b
    .col.inline-block
      .rowx
        h1.text-center(data-i18n='traits')
      .rowx.repeating-container
        fieldset(class=`repeating_traits`)
          .rowx.grid
            span.eclipse.font-weight-bold(name='attr_name')
            +checkboxSymbol('collapse', 'i')
            +checkboxSymbol('settings', 'x')
            .rowx.collapse
              span.collapse(name='attr_description')
            .rowx.settings
              +textInput(`name`)
              +textarea('description')


//- NOTES SHEET
  =============================
.notes

//-OPTIONS SHEET
  =============================
.options

//-FOOTER
  =============================
footer
  span Version 
  span(name='attr_version')

//-HIDDEN ATTRIBUTES
  =============================
input(name='attr_version', type='hidden', value='1')

//-ROLL TEMPLATE
  =============================
.rolltemplates
  rolltemplate.sheet-rolltemplate-rolls
    // - Display a header on the template -
    .sheet-template-header
      | {{#header}}{{header}}{{/header}}
    // - Display the dice roll in the template -
    .sheet-template-body
      | {{#dice}}
      .sheet-template-rowx {{dice}}
      | {/dice}}
      // - Display a description. This is great for text included with a roll -
      | {{#desc}}
      .sheet-template-rowx
        span.sheet-template-desc
      | {{/desc}}

//- SCRIPTS
script(type="text/worker")
  include src/js/scripts.js
