input(name='attr_version' type='hidden' value='2')

//- VARIABLES
  =============================
include src/pug/abstracts/variables.pug

//- INCLUDES
  =============================
include src/pug/abstracts/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')
      
//-NPC SHEET
  =============================
include src/pug/pages/npc.pug

//-PC SHEET
  =============================
include src/pug/pages/pc.pug

//- NOTES SHEET
  =============================
include src/pug/pages/notes.pug

//-OPTIONS SHEET
  =============================
include src/pug/pages/options.pug

//-FOOTER
  =============================
include src/pug/layout/footer.pug

//-ROLL TEMPLATE
  =============================
include src/pug/components/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  include src/js/scripts.js
