// COLORS
//  ============================= *
    $primary  : hsl(305, 98%, 24%);
    $secondary  : hsla(253, 35%, 61%, 0.25);
    $light  : #b9dadf;
    $dark    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.0784313725490196);
    $white    : hsl(0, 0%, 96%);


/* GLOBAL SETTINGS
    =============================  */
    @import 'src/scss/_globals';


/* HIDE DIFFERENT SHEET TYPES BY DEFAULT
   ============================= */ 
    div.sheet-npc,
    div.sheet-pc {
        display: none;
    }   

    input.sheet-type[value="npc"] ~  div.sheet-npc,
    input.sheet-type[value="character"] ~  div.sheet-pc {
        display: block;
    }   

/* GRID
   ============================= */ 
    div.sheet-grid {
        display: inline-grid;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;
    }

    %gridRowCol {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
        grid-column-gap: 1%;
    }

/* GENERIC CLASSES
    ============================= */
    @import 'src/scss/_generic';

    span.sheet-display {
        border-bottom: 2px dotted $dark;
        padding-top: 3%;
    }

    input.sheet-toggles {
        position: relative;
        opacity: 0;
        z-index: 2;

        &:checked + span {
            color: $primary;
            margin-left: 5%;
        }
    }
    
    div.sheet-header {
        margin-top: 2%;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        text-align: center;
        background: $light; /* Old browsers */
        background: -moz-linear-gradient(top,  $light 0%, $secondary 50%, $light 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $light 0%,$secondary 50%,$light 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $light 0%,$secondary 50%,$light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$light',GradientType=0 ); /* IE6-9 */
    }

/* PC
    ============================= */
div.sheet-pc {
    border: 0.8em solid $gray;
    background-color: $transparentGray;
    padding: 2% 1%;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

   div.sheet-row {
    display: inline-grid;
   }

   div.sheet-skill-traits {
        div.sheet-inline-block {
            width: 49%;
        }

        div.sheet-repeating-container {
            div.sheet-rowx {
                grid-template-columns: 1fr 2em 2em;
            }
        }

        input[name='attr_collapse'],
        input[name='attr_collapse'] + span {
            grid-area: 1 / 2 / 1 / 2;
        }

        input[name='attr_settings'],
        input[name='attr_settings'] + span {
            grid-area: 1 / 3 / 1 / 3;
        }

        div.sheet-collapse,
        div.sheet-settings {
            grid-column: 1 / 4;
        }
   }
}

/*  SHOW & HIDE SECTIONS
    ============================= */
    %display-none {  
        display: none; 
    }           

    div.sheet-collapse,
    .sheet-settings { 
        @extend %display-none; 
    }


    input[name='attr_collapse']:checked ~ div.sheet-collapse,
    input[name='attr_settings']:checked ~ div.sheet-settings {
        display: block;
    }


/*  SWITCH
    ============================= */
    @import 'src/scss/_switch';

/* STYLED CHECKBOXES
    ============================= */
    @import 'src/scss/_checkbox';


/*  FOOTER
    ============================= */
    @import 'src/scss/_footer';


/* ROLL TEMPLATE STYLE
----------------------------- */
    @import 'src/scss/_rolltemplate';