
// VARIABLES
//  ============================= *
   $pictos      : "pictos";
   $background-trans: (background: transparent);

   // COLORS
	$black       : #191919;
	$gray        : #4c4c4c;
	$light-blue  : #b9dadf;
	$light-purple: #a9a6c1;
	$purple      : #79016f;
	$white       : hsl(0, 0%, 96%);
	$dark-font   : #000;

// IMPORTS
//  =============================

// MIXINS
//  =============================
   
	@mixin grid-column($start, $end){
		grid-column: #{$start} / #{$end};
	}

   @mixin grid-row($start, $end){
   		grid-row: #{$start} / #{$end};
	}

// EXTENDS
//   =============================
	.back-trans {
		background-color: transparent;
	}

	.uppercase {
		text-transform: uppercase;
	}

/* GLOBAL SETTINGS
    =============================  */
	* {
	    box-sizing: border-box;
	    font-family: sans-serif;
	}

	button::before {display: none;}
	button::hover {
		@extend %back-trans
		background-position: 0;
	}

	button[type="roll"],
	button[type="action"] {
		background-color          : hsl(0, 0%, 96%);
		border-bottom             : 0.01em solid #666;
		border-bottom-right-radius: 0.01em;
		border-color              : hsl(0, 0%, 70%);
		border-radius             : 0.25em;
		border-right              : 0.02em solid hsl(0, 0%, 20%);
		border-style              : outset;
		font-size                 : 1.2em !important;
		margin                    : 0.2em !important;
		padding                   : 0.1em !important;
	}

	div {
		@extend %back-trans;
		width: 100%;
	}

	fieldset {
		background: transparent;
	}

	h1 {
		color: $purple;
		@extend %uppercase
	}

	h2 {
		font-size: 1.5em;
	}


	h3 {
		font-size: 1.25em;
		line-height: 36px;
	}


	input[type="number"] {
		text-align: center;
	}

	input[type="text"],
	input[type="number"] {
		@extend %back-trans;
		border          : none;
		border-bottom   : 0.15em solid hsl(0, 6%, 0%);
		border-radius   : 0em;
	}

	input[type="text"]::placeholder,
	input[type="number"]::placeholder {
		background-color: $light-purple;
		border          : 0.1em dotted $light-blue;
	}

	input[type="text"]::-webkit-input-placeholder,
	input[type="text"]::-moz-placeholder,
	input[type="text"]::-ms-input-placeholder,
	input[type="text"]::-moz-placeholder {
		border        : 0.01 dotted $light-blue;
		font-variant  : small-caps;
		text-transform: uppercase;
	}

	label {
		margin-bottom: 0px;
		padding-right: 0px;
	}

	span {
		word-break: break-word;
	}

	textarea {
		border-bottom : 0.2em dotted $light-blue;
		font-size     : 12px;
		font-weight   : normal;
		height        : 50px;
		line-height   : 18px;
		overflow      : hidden;
		overflow-wrap : break-word;
		padding       : 2px;
		resize        : vertical;
		text-align    : left;
		vertical-align: top;
		white-space   : pre-line;
	}

	.charsheet {
		min-width: 30em;
	}


/* SHARED SETTINGS
   ============================= */


/* GRID
   ============================= */ 
	div.sheet-grid {
		display        : grid;
		grid-column-gap: 0.2em;
		grid-row-gap   : 0.2em;
	}

	div.sheet-grid-tab-input span {
		@include grid-column(1, 1);
	}

	div.sheet-grid-tab-input label {
		@include grid-column(2, 2);
	}

	div.sheet-grid-tab-input label[title="character name"],
	div.sheet-grid-tab-input span[data-i18n="character"] {
		@include grid-row(1, 1);
	}

	div.sheet-grid-tab-input label[title="player name"],
	div.sheet-grid-tab-input span[data-i18n="player"] {
		@include grid-row(2, 2);
	}

	div.sheet-grid-tab-input label[title="character notes"],
	div.sheet-grid-tab-input span[data-i18n="notes"] {
		@include grid-row(3, 3);
	}

/* FLEXBOX
   ============================= */
	div.sheet-flex {
		align-items    : flex-start;
		display        : inline-flex;
		flex-direction : row;
		flex-wrap      : wrap;
		justify-content: flex-start;
		max-width      : 100%;
		min-width      : 30em;
		vertical-align : top;
		width          : 40%;
	}

	div.sheet-flex::first-child {
		margin-right: 2%;
	}

	input.sheet-display_string[value="npc"] ~  div.sheet-npc-flex,
	input.sheet-display_string[value="character"] ~  div.sheet-pc-flex {
	    display: inline-flex;
	}

/* HIGHLIGHT BUTTONS
   ============================= */
	input.sheet-whisper-toggle[value*="gm"] + button[name*="whisper"],
	input.sheet-display_string[value="character"] ~ div.sheet-tabs button[name*="character"],
	input.sheet-display_string[value="npc"] ~ div.sheet-tabs button[name*="npc"],
	input.sheet-display_string[value="notes"] ~ div.sheet-tabs button[name*="notes"],
	input.sheet-display_string[value="options"] ~ div.sheet-tabs button[name*="options"] {
		color           : $white;
		background-color: $purple;
		box-shadow      : inset 0px 0px 3px 1px $light-purple;}

/* TABS & LOGO SECTION
   ============================= */
	div.sheet-tabs {
		margin-bottom: 2%;
	}

	div.sheet-tabs label > input {
		width: 100%;
	}

		/* INPUTS FOR CHARACTER, PLAYER, NOTES..... */
	div.sheet-grid-tab-inputs {
		grid-template-columns: 8em 67%;
	}

	div.sheet-grid-tab-input span {
		font-weight   : bold;
		text-transform: uppercase;
	}

	div.sheet-grid-tab-buttons {
		grid-template-columns: 2.5em 5em 5em 5em;
		margin-top           : 2%;
	}

/* NPC SHEET
	============================= */


/* PC SHEET
   ============================= */
   div.sheet-grid-header {
   		grid-template-columns: 2em 1fr;
   }

   div.sheet-grid-header button {
		@include grid-column(1, 1);
		@include grid-row(1, 1);
   }

   div.sheet-grid-header h1 {
		@include grid-column(2, 3);
		@include grid-row(1, 1);
   }

   div.sheet-grid-pc-attributes {
   		grid-template-columns: 10em 1fr;
   }


/* FOOTER
   ============================= */
	div.sheet-footer {
		border     : none;
		font-size  : 0.55em;
		line-height: 15px;
		margin-top : 2%;
		text-align : left;
		width      : 100%;
	}


/* REPEATING SECTION
   ============================= */
	.repcontainer .repitem {

	};

	/* This will make the Add & Modify words transparent so that only our symbols below show up */
	 button.btn.repcontrol_add,
	 button.btn.repcontrol_edit  {
	 	color: transparent;
	 }

	 /* This will put icons next to the buttons. A `+` for Add and a lock for edit */
	.repcontrol .repcontrol_edit:after,
	.repcontrol .repcontrol_add:after  {
	 	color           : #111518;
	 	font-family     : pictos;
	    font-size       : 2.5em;}

	.repcontrol .repcontrol_edit:after {
		content: '(';
	}

	.repcontrol .repcontrol_add:after {
		content: '&';
	}

	.editmode ~ .repcontrol .repcontrol_edit:after {
		content: ')';
	}

	/* These are the buttons that appear after the repcontrol_edit is clicked*/
	.itemcontrol {
		z-index: 10;
	}

	.itemcontrol .repcontrol_del,
	.itemcontrol .repcontrol_move {
	    font-size: 18px;
	    margin-top: 0px;
	    padding: 0px;
	    width: 15px;}

	.itemcontrol .repcontrol_del {
		background-color: darkred;
		font-family: pictos;}

/* ROLL TEMPLATE
   ============================= */
	.sheet-rolltemplate-rolls {

	}

	.sheet-rolltemplate-rolls .sheet-template-body {
		border    : 1px solid #000;
		text-align: center;
	}

	.sheet-rolltemplate-rolls .sheet-template-header {
		background-color: $white;
		border          : 1px solid #000;
		border-bottom   : 2px solid #000;
		color           : black;
		font-size       : 20px;
		font-variant    : small-caps;
		letter-spacing  : 2px;
		padding         : 4px 0px 3px 0px;
		text-align      : center;
		text-transform  : capitalize;
	}

	.sheet-rolltemplate-rolls .sheet-template-row {
		background-color: #555;
	}

	/* Use this to alternate the background colors for each row */
	.sheet-rolltemplate-rolls .sheet-template-row:nth-child(2n+0) {
		background-color: #1c1c1c;
	}

	/* Remove some fo the built in styles around rolls */
	.sheet-rolltemplate-rolls .inlinerollresult {
		background-color: transparent;
		border          : none;
		color           : $dark-font;
		display         : inline-block;
		font-size       : 25px;
		padding         : 5px;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullfail,
	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit,
	.sheet-rolltemplate-rolls.inlinerollresult.importantroll {
		border: none;
	}

	/* Change the colors of Full Fails & Full Crits from their built in defaults */
	.sheet-rolltemplate-rolls .inlinerollresult.fullfail {
		color: $white;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit {
		color: $white;
	}

/* FIREFOX
   ============================= */
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;}

	input[type=number] {
	    -moz-appearance:textfield;}


/* TEMPORARY STYLES
   ============================= */
	div.sheet-pc-flex {
		border: 0.2em dashed $purple ; /* REMOVE THIS JUST TO SHOW BORDER */
	}

	div.sheet-tabs div.sheet-flex {
		border: 0.2em dashed $light-purple; /* REMOVE THIS JUST TO SHOW BORDER */
	}