/**********************************************************************************************************/
/***************************              GLOBAL SETTINGS                      ***************************/
/********************************************************************************************************/
	* {
	    box-sizing: border-box;
	    font-family: sans-serif;}

 	button {
		background-color: transparent;
		background-image: none;
		border-color: transparent;
		border: none;
		box-shadow: none;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		text-shadow: none;}

		button:before {display: none;}
		button:hover {background-color: transparent;}

		button[type="roll"] {
			font-size: 1em;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px;}

	div {
		background-color: transparent;}

	fieldset {
		background: transparent;
		display: inline-flex;}

	input[type="text"],
	input[type="number"] {
		background-color: transparent;
		border          : none;}	

	input[type="checkbox"],
	input[type="radio"],
	input[type="checkbox"] + span,
	input[type="radio"] + span {
		position: relative;}	

	input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
	    z-index: 2;}


	span {
		word-break: break-word;}

	textarea {
		border-bottom: 1px dotted #FCD116;
		font-size: 12px;
		font-weight: normal;
		height: 50px;
		line-height: 18px;
		overflow-wrap: break-word;
		overflow: hidden;
		padding: 2px;
		resize: vertical;
		text-align: left;
		vertical-align: top;
		white-space: pre-line;}

	.charsheet {width: 850px;}

/**********************************************************************************************************/
/***************************                  FOOTER                           ***************************/
/********************************************************************************************************/
	.sheet-footer {
		border: none;
		font-size: 0.55em;
		line-height: 15px;
		margin-top: 15px;
		text-align: left;
		width: 700px;}

/**********************************************************************************************************/
/***************************             REPEATING SECTIONS                          *********************/
/********************************************************************************************************/
	.repcontainer .repitem {

	};

	.repcontrol {

	};

/**********************************************************************************************************/
/***************************                 ROLL TEMPLATE                           *********************/
/********************************************************************************************************/
	.sheet-rolltemplate-example {

	};


/**********************************************************************************************************/
/***************************                 FIREFOX                           ***************************/
/********************************************************************************************************/
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;}

	input[type=number] {
	    -moz-appearance:textfield;}