div.sheet-repeating-container {
	button { 
		font-variant: none;
	}

	textarea {
		margin-top: 2%;
	}

	.repcontrol {
		margin-top: 5%;
	}
	
	.repcontrol_del {
		font-family: "pictos";
		position: relative;
	}

	div.sheet-descriptor {
		grid-template-columns: 1fr repeat(2, 1.5em);

		div.sheet-collapse {
				padding-left: 5%;
		}

		input[name='attr_collapse'],
		input[name='attr_collapse'] + span {
				grid-area: 1 / 2 / 1 / 2;
		}

		input[name='attr_settings'],
		input[name='attr_settings'] + span {
				grid-area: 1 / 3 / 1 / 3;
		}

		div.sheet-collapse,
		div.sheet-settings {
				grid-column: 1 / 4;
		}

		div.sheet-settings {
				grid-template-columns: 1fr;
		}
	}
}