@use "tailwind" as *;

div.switch {
  input.dot {
    grid-column: 1 / 2;
  }

  input.dot:checked + span.slider {
    @extend .bg-neutral-800;
  }

  input.dot:checked + .slider:before {
    -ms-transform: translateX(16px);
    -webkit-transform: translateX(16px);
    background-color: $color-neutral-200;
    grid-column: 1 / 2;
    transform: translateX(16px);
  }

  span.slider {
    @extend .bg-neutral-200;
    -webkit-transition: 0.4s;
    grid-column: 1 / 2;
    transition: 0.4s;

    &:before {
      grid-column: 1 / 2;
      -webkit-transition: 0.4s;
      @extend .bg-neutral-50;
      @extend .rounded-full;
      @extend .size-3\.5;
      content: "";
      display: block;
      position: absolute;
      transition: 0.4s;
    }
  }
}
