@use "tailwind" as *;
@use "../branding" as *;

$viewTabs: "style_guide", "character", "npc";

@each $tab in $viewTabs {
  input[name="attr_sheet_type"][value="#{$tab}"] ~ div.#{$tab} {
    display: grid;
  }

  input[name="attr_sheet_type"][value="#{$tab}"] ~ button[name="act_#{$tab}"] {
    background-color: $brand-primary;
  }

  input[name="attr_sheet_type"]:not([value="#{$tab}"]) ~ div.#{$tab} {
    display: none;
  }
}
