@use "tailwind" as *;

//- Add tabs names here
$tabs: "core", "journal";

@each $tab in $tabs {
  input[name="attr_tab"][value="#{$tab}"] ~ div.#{$tab} {
    display: grid;
  }

  input[name="attr_tab"]:not([value="#{$tab}"]) ~ div.#{$tab} {
    display: none;
  }
}

.tab {
  color: $color-neutral-50;
  text-align: center;
  text-transform: capitalize;

  input[type="radio"],
  span {
    grid-area: 1/1/2/2;
  }

  input[type="radio"] {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    max-height: 25px;
    max-width: 50px;
  }

  input[type="radio"] + span {
    color: $color-neutral-50;
    background-color: $color-neutral-800;
    border-radius: $spacing;
    border: 1px solid $color-neutral-800;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: fit-content;
    padding: $spacing-2;
  }

  input[type="radio"]:hover + span {
    background-color: $color-neutral-700;
  }

  input[type="radio"]:checked + span {
    background-color: $color-lime-600;
    border-color: $color-lime-600;
    color: $color-neutral-950;
    font-weight: bold;
  }
}
