@use "tailwind" as *;
@use "../scss/branding" as branding;

$viewTabs: "style-guide", "character", "npc";

@each $tab in $viewTabs {
  input[name="attr_sheet_type"][value="#{$tab}"] ~ div.#{$tab} {
    display: grid;
  }

  input[name="attr_sheet_type"][value="#{$tab}"] ~ button[name="act_#{$tab}"] {
    @extend .border;
    @extend .shadow-sm;
    color: $color-white;
    border-color: $color-neutral-500;
    background-color: branding.$active-color;
  }

  input[name="attr_sheet_type"]:not([value="#{$tab}"]) ~ div.#{$tab} {
    display: none;
  }
}
