.sheet-pictos {
  font-family: "pictos";
}

.sheet-d20 {
  font-family: "dicefontd20";
}

.sheet-text-capitalize {
  text-transform: capitalize;
}

.sheet-text-uppercase {
  text-transform: uppercase;
}

.sheet-text-center {
  text-align: center;
}

.sheet-text-primary {
  color: $primary;
}

.sheet-text-right {
  text-align: right;
}