-
  const icons = {
    warning: "!",
    quoteLeft: "\"",
    trash: "#",
    shoppingCart: "$",
    chat: "%",
    plus: "&",
    wifi: "'",
    lock: "(",
    unlock: ")",
    close: "*",
    addCircle: "+",
    globe: ",",
    minus: "-",
    ellipsis: ".",
    copy: "/",

    sync: "0",
    rotateRight: "1",
    checkCircle: "2",
    check: "3",
    play: "4",
    pause: "5",
    stop: "6",
    fastForward: "7",
    rewind: "8",
    playCircle: "9",

    notification: ":",
    shuffle: ";",
    arrowLeft: "<",
    batteryHalf: "=",
    volumeUp: ">",
    helpCircle: "?",
    locationPin: "@",

    link: "A",
    eyeClosed: "B",
    cloud: "C",
    cancel: "D",
    eye: "E",
    file: "F",
    globeAlt: "G",
    home: "H",
    inbox: "I",
    magic: "J",
    key: "K",
    target: "L",
    mail: "M",
    calendar: "N",
    lockAlt: "O",
    image: "P",
    power: "Q",
    share: "R",
    star: "S",
    airplane: "T",
    user: "U",
    videoCamera: "V",
    edit: "W",
    camera: "X",
    activity: "Y",
    pieChart: "Z",

    arrowLeftSquare: "[",
    calendarAlt: "\\",
    arrowRightSquare: "]",
    flag: "^",
    minusSquare: "_",
    dragHandle: "`",

    anchor: "a",
    box: "b",
    cloudDownload: "c",
    ban: "d",
    bolt: "e",
    rss: "f",
    users: "g",
    crosshair: "h",
    infoCircle: "i",
    linkAlt: "j",
    heart: "k",
    list: "l",
    musicNote: "m",
    document: "n",
    folder: "o",
    editAlt: "p",
    comment: "q",
    repeat: "r",
    search: "s",
    clock: "t",
    save: "u",
    cameraAlt: "v",
    circle: "w",
    tools: "x",
    settings: "y",
    tag: "z",

    arrowUp: "{",
    copyAlt: "|",
    arrowDown: "}",
    smiley: "~",

    d10: 'k',
    d12: 'l',
    d20: 't',
    d4: 'h',
    d6: 'l',
    d8: 'h',
  }
