mixin Input(props)
    - const { name, i18n = name, type = 'text', placeholder = name, value = '' } = props
    input(type=type name=name data-i18n-placeholder=placeholder value=value data-i18n=i18n class!=attributes.class) 