mixin Textarea(props)
  -
    const { name, i18n = name, placeholder = name} = props || {};
    const attr = attrName(name);

    const baseClasses = 'flex w-full min-h-16 rounded-lg border px-2.5 py-2 bg-transparent text-base transition-colors active:border-none focus:border-none hover:border-none active:outline-solid focus:outline-solid hover:outline-solid active:outline-cyan-500 focus:outline-cyan-500 hover:outline-cyan-500 active:outline-2 focus:outline-2 hover:outline-2 active:rounded-lg focus:rounded-lg hover:rounded-lg ';

    const classes = `${baseClasses}`;

  textarea(class=classes class!=attributes.class data-i18n=i18n data-i18n-placeholder=placeholder name=`attr_${attr}`  ) 




