//- Helpful functions used to handle Roll20's attributes naming conventions


//- Used for character stats and reusable variables. Often overlaps constants.ts
//- - const mentalAttributes = ["awareness", "intellect", "charisma"];
//- - const physicalAttributes = ["strength", "dexterity", "endurance"];
//- - const attributes = [...mentalAttributes,  ...physicalAttributes];