.pc.grid.gap-8
  h1.center(data-i18n='character sheet')
  .grid.grid-cols-2.gap-4.grid-flow-col
    .grid.col-auto-fr.gap-2.grid-flow-col.items-center
      h2(data-i18n='name')
      +textInput('character name')
    .grid.col-auto-fr.gap-2.grid-flow-col.items-center
      h2(data-i18n='player')
      +textInput('player')
  .grid.gap-2
    h2(data-i18n='household')
    span(data-i18n='training description')
  .grid.w-full.gap-2
    h3(data-i18n='household name & description')
    +textarea('household description')
