@use "tailwind" as *;
@use "../scss/branding" as branding;

.mode-toggles {
  top: -5px;
}

$viewTabs: "style_guide", "character", "npc";

@each $tab in $viewTabs {
  input[name="attr_sheet_type"][value="#{$tab}"] ~ div.view div.#{$tab} {
    display: grid;
  }

  input[name="attr_sheet_type"]:not([value="#{$tab}"]) ~ div.view div.#{$tab} {
    display: none;
  }
}

input[name="attr_settings"][value="on"] ~ .settings {
  display: grid;
}

input[name="attr_settings"][value="on"]
  ~ div.grid
  div.absolute
  button[name="act_settings"] {
  @extend .border;
  @extend .shadow-sm;
  color: $color-white;
  border-color: $color-neutral-500;
  background-color: branding.$active-color;
}

input[name="attr_settings"][value="on"] ~ .view,
input[name="attr_settings"][value="off"] ~ .settings {
  display: none;
}
