.pc.grid.gap-6
  .grid.gap-4
    +Header({size: 'h1', name: 'Header 1'}).text-center
    .grid.grid-cols-2.gap-4.grid-flow-col
      each val in ["character name"]
        .grid.col-auto-fr.gap-2.grid-flow-col.items-center
          +Header({size: 'h3', name: val})
          +Input({name: val})
      .grid.col-auto-fr.gap-2.grid-flow-col.items-center
        +Header({size: 'h3', name: "level"})
        +Input({name: "level", type: "number"}).text-center

  +tabs(["core", "journal"])

  .core
    .grid.gap-2
      +repeatingSection('skills', {display: ['name', 'level', 'attribute'], collapse: ['category']})

  .journal
    .grid.gap-2
      +Header({size: 'h2', name: 'background',}).text-center
      +textarea('background')

