mixin repeatingSection({ sectionName, display = [], collapse = [] })
	- const [name, ...rest] = display
	.grid.gap-2.content-start.relative(class=dashedName(sectionName))
		+Header({ name: sectionName, size: "h2" }).block.text-center

		.grid.gap-4.grid-flow-col.items-center.border-b.auto-cols-fr
			+Header({ name, size: "h3" }).w-full
			each val in [...rest]
				+Header({ name: val, size: "h3" }).text-center.w-full

	fieldset(class=`repeating_${dashedName(sectionName)}`)
		.grid.gap-2.items-center
			input(type="hidden" name="attr_state" value="edit expand")
			.grid.gap-4.grid-flow-col.items-center.auto-cols-fr.relative
				- const value = buttonValue({ type: BUTTON_VALUE_TYPES.REPEATING_CHAT_BUTTON })
				+Button({ name, type: BUTTON_TYPES.ROLL, value }).text-left
					+Text({ name: name })
				each val in rest
					+Text({ name: val }).text-center
			
				.toggles.absolute.auto-cols-min.grid.gap-2.grid-flow-col.items-center.justify-self-end.z-index-10
					+Button({ name: "edit", type: BUTTON_TYPES.ACTION, variant: BUTTON_VARIANT.ICON }).edit
						+Icon({ icon: "editAlt", color: "color-neutral-50",  })
					+Button({ name: "expand", type: BUTTON_TYPES.ACTION, variant: BUTTON_VARIANT.ICON }).expand
						+Icon({ icon: "play", color: "color-neutral-50", })

			.expand.grid.gap-2.items-center.pl-2
				+Text({name: "description"})
			
			.edit.bg-neutral-200.border-neutral-200.border-solid.border-2.grid.gap-2.items-center.rounded-xl.p-2
				.auto-cols-fr.grid.gap-2.grid-flow-col.items-center
					.col-auto-fr.grid.gap-2.grid-flow-col.items-center
						+Header({ name: "name", size: "h4" })
						+Input({ name: "name" })
					.col-auto-fr.grid.gap-2.grid-flow-col.items-center
						+Header({ name: "value", size: "h4" })
						+Input({ name: "value", type: "number" })
				.grid.gap-2.items-center.w-full
					+Header({ name: "description", size: "h4" })
					+Textarea({ name: "description", placeholder: "Enter description here..." })


