@use "tailwind" as *;

.ui-dialog .charsheet button[type="roll"] {
  background-image: none;
  text-shadow: none;
  @extend .text-sm;
  @extend .m-0;
  @extend .px-1\.5;
  @extend .py-0\.5;
}

.charsheet {
  button[type="roll"] {
    &:before {
      display: none;
    }
  }
}
