@use "tailwind" as *;
@use "../scss/branding" as branding;

input[type="checkbox"],
input[type="radio"] {
  accent-color: branding.$active-color;
}

.ui-dialog .charsheet input[type="checkbox"],
.ui-dialog .charsheet input[type="radio"] {
  @extend .size-4;
}

.ui-dialog .charsheet input[type="number"] {
  width: 100%;
}

.charsheet {
  input[type="text"],
  input[type="number"] {
    height: $spacing-8;
  }
}
