@use "tailwind" as *;

div.switch {
  input {
    grid-column: 1 / 2;
  }

  input:checked + span.slider {
    @extend .bg-neutral-800;
  }

  input:checked + .slider:before {
    -ms-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    background-color: $color-neutral-200;
    grid-column: 1 / 2;
    transform: translateX(14px);
  }

  span.slider {
    @extend .bg-neutral-600;
    @extend .duration-150;
    grid-column: 1 / 2;

    &:before {
      @extend .bg-neutral-50;
      @extend .duration-150;
      @extend .rounded-full;
      @extend .size-3\.5;
      content: "";
      display: block;
      grid-column: 1 / 2;
      margin-left: 2px;
      position: absolute;
    }
  }
}
