- 
    const buttonValue = (props) => {
        const templatePrefix = "&{template:roll}"
        //- - const criticalStrike = "cs@{critical_hit}cf@{critical_fail}"
        // const attribute = "@{attribute}[attribute]"
        // const bonus = "(@{modifier}[modifier])"
        //- - const prompt = "(?{Modifier|0}[modifier])"

        const {attr, name, type } = props || {};
        
        let string = `${templatePrefix} `

        switch(type) {
            case BUTTON_VALUE_TYPES.REPEATING_CHAT_BUTTON:
                string += `{{header=@{name}}} `;
                break;
            case BUTTON_VALUE_TYPES.DAMAGE:
                string += `{{header=^{${name} Damage}}} `;
                break;
            default:
                string += `{{header=^{${name}}}} `;
        }

        switch(type) {
            case BUTTON_VALUE_TYPES.D20:
                string += ` {{dice=[[1d20]]}} `;
                break;
            default:
                string += ` {{description=${attr}}}`;
        }

        return string || "{{description=Roll Template is not working as expected}}";
    }

