//- Semantic Versioning MAJOR.MINORPATCH
input(name='attr_version' type='hidden' value='3.3')

//- Do not manually change this. Hidden attribute used by versioning script
input(name='attr_latest_versioning_upgrade' type='hidden' value='1')

//- //- INCLUDES
//-   =============================
include pug/constants.pug
include pug/mixins.pug

//- //-  COMPONENTS
//-   =============================
include pug/components/repeating_section.pug
include pug/components/tabs.pug
include pug/components/roll_templates.pug

//- DRAG & DROP
  =============================
.dropzone.compendium-drop-target.creatures.pregens
  each val in ['Name', 'data', 'Content', "Category"]
    input(name=`attr_drop_${val.toLowerCase()}` type='hidden' value='' accept=val)

  //- TABS
    =============================
  input.type(name='attr_sheet_type' type='hidden' value='character')
  input.display_string(name='attr_character_settings' type='hidden' value='')

  //-CHARACTER SHEETS VIEWS
    =============================
  include pug/views/pc.pug
  //- include views/npc.pug

.compendium_warning
  span(data-i18n="accepting drop") ACCEPTING DROP FROM COMPENDIUM

//-FOOTER
  =============================
.footer
  span Version  
  span(name='attr_version')
  span Original template created by Emerald Productions, LLC
  img(src="https://raw.githubusercontent.com/clevett/roll20-SheetTemplate/master/src/imgs/EProd_Emerald_Gloss.png", alt="Emerald Productions logo of an E")


//- SCRIPTS
script(type="text/worker")
  //- Add additional utils as needed
  include ts/utils/create_attribute_name.ts
  include ts/utils/get_repeating_field_name.ts
  include ts/utils/get_row_attribute_name.ts
  include ts/utils/get_row_id.ts
  include ts/utils/sum_integers.ts

  //- Core functions
  include ts/versioning.ts
  include ts/constants.ts
  include ts/event_handlers.ts

