@use "./components/index";
@use "scss";

/*  FOOTER
  ============================= */
.footer {
  display: block;
  text-align: center;

  span[name="attr_version"] {
    &::after {
      content: ".";
      margin-right: 0.2rem;
    }
  }

  span {
    font-size: 1rem;
  }

  img {
    margin-left: 2%;
    height: 2.5rem;
    width: 2.5rem;
  }
}

@import url("https://fonts.googleapis.com/css?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
