@use "tailwind" as *;

//Customer Variables for branding
$brand-primary: rgb(23, 67, 69);
$brand-secondary: rgb(254, 235, 179);

$paper-background: "";

.brand-font-base {
  font-family: "Tinos";
}

.brand-font-h1 {
  font-family: "Gideon Roman";
}

.brand-font-h2 {
  font-family: "Josefin Sans";
}

.brand-font-h3 {
  font-family: "Tinos";
}

.brand-font-h4 {
  font-family: "Josefin Sans";
}
