@use "tailwind" as *;
@use "./custom" as *;
@use "branding" as *;
@use "./components/buttons" as *;

.charsheet {
  @extend .min-w-lg;
  background-color: $color-neutral-100;

  button {
    font-family: serif;
    @extend .ellipsis;

    &:before {
      display: none;
    }
    &:focus,
    &:hover,
    &:active {
      background-color: $color-lime-800;
      color: $color-neutral-100;
      scale: 1.05;
      border-radius: $spacing;
      border: 1px solid $color-lime-800;
    }

    &[type="roll"],
    &[type="action"] {
      @extend %buttons;
      @extend %button;
    }
  }

  fieldset {
    background-color: transparent;
  }

  font-size: $text-sm;
  font-weight: $font-weight-normal;
  line-height: $text-sm--line-height;
  @extend .brand-font-base;

  h1,
  h2,
  h3,
  h4 {
    @extend .ellipsis;
  }

  h1 {
    @extend .brand-font-h1;
  }

  h2 {
    @extend .brand-font-h2;
  }

  h3 {
    @extend .brand-font-h3;
  }

  h4 {
    @extend .brand-font-h4;
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      height: 100%;
      min-height: $spacing-6;
      min-width: $spacing-6;
      width: 100%;
    }

    &[type="text"],
    &[type="number"] {
      background-color: transparent;
      border-bottom: 2px solid $color-neutral-900;
      @extend .brand-font-base;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-amber-100;
        border: 1px dotted $color-amber-500;
      }

      border: {
        left: 0em;
        radius: 0em;
        right: 0em;
        top: 0em;
      }

      height: 2.1em;
      width: 100%;

      &::placeholder {
        background-color: $color-neutral-100;
        padding-left: 2px;
      }
    }
    &[type="number"] {
      -moz-appearance: textfield;
      text-align: center;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  select {
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: capitalize;
    width: 100%;
  }

  p {
    @extend .brand-font-base;
  }

  option {
    font-weight: bold;
  }

  textarea {
    font-weight: normal;
    line-height: $spacing-4;
    margin-bottom: 0px;
    min-height: $spacing-12;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $spacing-2;
    resize: vertical;
    text-align: left;
    vertical-align: top;
  }
}
