@use "tailwind" as *;
@use "./custom" as *;
@use "branding" as *;

.charsheet {
  background-color: $color-neutral-100;
  font-size: $text-sm;
  font-weight: $font-weight-normal;
  line-height: $text-sm--line-height;
  @extend .brand-font-base;

  select {
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: capitalize;
    width: 100%;
  }

  p {
    @extend .brand-font-base;
  }

  option {
    font-weight: bold;
  }

  textarea {
    font-weight: normal;
    line-height: $spacing-4;
    margin-bottom: 0px;
    min-height: $spacing-12;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $spacing-2;
    resize: vertical;
    text-align: left;
    vertical-align: top;
  }
}
