@use "tailwind" as *;
@use "./custom" as *;
@use "branding" as *;
@use "./components/buttons" as *;

.charsheet {
  background-color: $color-neutral-100;
  font-size: $text-sm;
  font-weight: $font-weight-normal;
  line-height: $text-sm--line-height;
  @extend .brand-font-base;

  button {
    font-family: serif;
    @extend .ellipsis;

    &:before {
      display: none;
    }
    &:focus,
    &:hover,
    &:active {
      background-color: $color-lime-800;
      color: $color-neutral-100;
      scale: 1.05;
      border-radius: $spacing;
      border: 1px solid $color-lime-800;
    }

    &[type="roll"],
    &[type="action"] {
      @extend %buttons;
      @extend %button;
    }
  }

  // border-0 border-b-2 border-neutral-900 rounded-none
  // hover:bg-amber-100 hover:border hover:border-dotted hover:border-amber-500
  // focus:bg-amber-100 focus:border focus:border-dotted focus:border-amber-500 focus:outline-none
  // active:bg-amber-100 active:border active:border-dotted active:border-amber-500
  // placeholder:bg-neutral-100 placeholder:pl-[2px]

  // input {
  //   &[type="checkbox"],
  //   &[type="radio"] {
  //     height: 100%;
  //     min-height: $spacing-6;
  //     min-width: $spacing-6;
  //     width: 100%;
  //   }

  //     border: {
  //       left: 0em;
  //       radius: 0em;
  //       right: 0em;
  //       top: 0em;
  //     }

  //     height: 2.1em;
  //     width: 100%;

  //     &::placeholder {
  //       background-color: $color-neutral-100;
  //       padding-left: 2px;
  //     }
  //   }
  //   &[type="number"] {
  //     -moz-appearance: textfield;
  //     text-align: center;
  //   }

  //   &::-webkit-outer-spin-button,
  //   &::-webkit-inner-spin-button {
  //     margin: 0;
  //     -webkit-appearance: none;
  //   }
  // }

  select {
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: capitalize;
    width: 100%;
  }

  p {
    @extend .brand-font-base;
  }

  option {
    font-weight: bold;
  }

  textarea {
    font-weight: normal;
    line-height: $spacing-4;
    margin-bottom: 0px;
    min-height: $spacing-12;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $spacing-2;
    resize: vertical;
    text-align: left;
    vertical-align: top;
  }
}
