@use "tailwind" as *;

.border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-neutral-900;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Grid */
.col-auto-fr {
  grid-template-columns: auto 1fr;
}

.col-fr-auto {
  grid-template-columns: 1fr auto;
}

/* Shapes */
.circle {
  background-color: $color-neutral-100;
  border-radius: 50%;
  border: $spacing double $color-neutral-950;
  height: $spacing-20;
  padding: $spacing-2;
  width: $spacing-20;
}

/* Typography */
.pictos {
  font-family: "pictos";
}

.d4 {
  font-family: "dicefontd4";
}
.d6 {
  font-family: "dicefontd6";
}
.d8 {
  font-family: "dicefontd8";
}
.d10 {
  font-family: "dicefontd10";
}
.d12 {
  font-family: "dicefontd12";
}

.d20 {
  font-family: "dicefontd20";
}

.small-caps {
  font-variant: small-caps;
}
