@use "tailwind" as *;

//Override the Roll20 default styles
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.characterviewer label {
  margin: unset;
  padding: unset;
}

.dropzone {
  padding: unset;
  border: none;
  background: transparent;
}

.d4 {
  font-family: "dicefontd4";
}
.d6 {
  font-family: "dicefontd6";
}
.d8 {
  font-family: "dicefontd8";
}
.d10 {
  font-family: "dicefontd10";
}
.d12 {
  font-family: "dicefontd12";
}

.ui-dialog .charsheet input[type="number"] {
  width: 100%;
}

.ui-dialog .charsheet input[type="checkbox"],
.ui-dialog .charsheet input[type="radio"] {
  @extend .size-4;
}

.ui-dialog .charsheet .switch input[type="checkbox"] {
  height: 100%;
  width: 100%;
}

.ui-dialog .charsheet button[type="roll"] {
  background-image: none;
  text-shadow: none;
  @extend .text-sm;
  @extend .m-0;
  @extend .px-1\.5;
  @extend .py-0\.5;
}

.charsheet {
  min-width: $container-lg;
  max-width: 860px;
  overflow: hidden;

  button[type="roll"] {
    &:before {
      display: none;
    }
  }

  input[type="text"],
  input[type="number"] {
    height: $spacing-8;
  }
}

/* Repeating Sections */
.repcontrol {
  margin-top: 5%;
}

.repcontrol_del {
  font-family: "pictos";
  position: relative;
}

.repcontrol {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.itemcontrol {
  z-index: 100;
  position: absolute;

  .repcontrol_del {
    background-color: $color-red-900;
    font-family: "pictos";
  }
}

.repitem {
  margin-bottom: $spacing;
}

/* Roll Templates */
.inlinerollresult.fullfail,
.inlinerollresult.fullcrit,
.inlinerollresult.importantroll {
  border: none;
}

.inlinerollresult.fullfail,
.inlinerollresult.fullcrit {
  color: $color-neutral-950;
}

.inlinerollresult {
  background-color: transparent;
  border: none;
  font-size: 2em;
  padding: unset;
}
