@use "tailwind" as *;

//Override the Roll20 default styles
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.characterviewer label {
  margin: unset;
  padding: unset;
}

.dropzone {
  padding: unset;
  border: none;
  background: transparent;
}

.d4 {
  font-family: "dicefontd4";
}
.d6 {
  font-family: "dicefontd6";
}
.d8 {
  font-family: "dicefontd8";
}
.d10 {
  font-family: "dicefontd10";
}
.d12 {
  font-family: "dicefontd12";
}

.charsheet {
  min-width: $container-lg;
  max-width: 860px;
  overflow: hidden;
}
